[submodule "frontend"]
	path = frontend
	url = git@github.com:georgievdd/nikola_project_frontent.git
[submodule "backend"]
	path = backend
	url = git@github.com:vanek-goriachev/nikola_backend.git
[submodule "prod_files"]
	path = prod_files
	url = git@github.com:vanek-goriachev/nikola_prod_files.git
